<p style="color: green"><%= notice %></p>

<h1>Applications</h1>

<div id="applications">
  <% @applications.each do |application| %>
    <%= render application %>
    <p>
      <%= link_to "Show this application", account_application_path(id: application.id) %>
    </p>
  <% end %>
</div>


