<div class="modal" id="<%= "myModal-#{job.id}" %>">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>Are you sure you want to delete the job <%= job.title %> from company <%= job.company.title %>?
        </p>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <%= button_to("Delete", "/companies/#{job.company.id}/jobs/#{job.id}", method: :delete, class: "btn btn-danger", 
        data: { "bs-dismiss" => "modal" })  %>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel
        </button>       
      </div>
    </div>
  </div>
</div>

