<div class="container">
    <h1>Job Board</h1>
    <p>A job board application is a digital platform that connects employers with potential employees by allowing companies to post job vacancies and job seekers to submit their applications. It serves as a marketplace where employers can find candidates with the specific skills and experience they need, and job seekers can find opportunities that match their qualifications and career aspirations. Job board applications often offer additional features such as resume building, career advice, and job alerts to help both parties in the recruitment process.
    </p>
    <%= link_to "About", about_path, class:"btn btn-secondary" %>


</div>
