<div class="container-devise">

<h1>Account</h1>

<div id="accounts">
  <% @accounts.each do |account| %>
    <%= render account %>
    <p>
      <%= link_to "Show this account", account %>
    </p>
    <%= render partial: 'deleteModal', locals: { account: account } %>
  <% end %>
</div>
</div>

